<div class="container">
  <h1>baz stanza</h1>
  <div class="container">
    {{!-- <p class="data-from">Loading from<br><a href="{{dataUrl}}"> {{dataUrl}}</a></p> --}}
    <h2>Disply input data</h2>
    <section>
      <p class="greeting">Hello, {{name}}! (with attribute)</p>
      {{!-- <p>category is {{category}}.</p>
      <p>count is {{count}}.</p> --}}
    </section>
  </div>
</div>